<div class="center">

    <div class="animateMe" data-animation="fadeInUpBig">
        <div class="content">
            <div class="marie ">
                <img src="{{ asset('images/marie.jpg') }}"alt="">
            </div>
            <div class="text">
                <h2>Qui suis je ?</h2>
                <p>En reconversion aprés 20 années à pratiquer le métier de pâtissier, suite à 6 mois de formation intensive, je suis prête à démarrer ma nouvelle vie de Développeur Web !
                Je suis disponible et trés motivée pour commencer dès que possible, n'hésitez pas à me contacter !
                </p>
            </div>
        </div>
    </div>
    <div class="animateMe" data-animation="fadeInLeft" >
        <div class="content">
            <div class="picto">
                <img src="{{ asset('images/portofolio.png') }}"alt="">
            </div>
            <div class="text">
                <h1>PORTOFOLIO</h1>
                <a href="{{ path("portofolio")}}"><i class="fa fa-search-plus" title="view"></i>Découvrir</a>
            </div>
        </div>
    </div>
    <div class="animateMe" data-animation="fadeInRight">
        <div class="content">
            <div class="picto">
                <img src="{{ asset('images/cv.png') }}"alt="">
            </div>
            <div class="text">
                <h1>MON CV</h1>
                <a href="{{ path("cv")}}"><i class="fa fa-eye" title="view"></i> Voir</a>
                <a href="{{ asset('images/CVMARIECHARTON.pdf') }}"><i class="fa fa-arrow-circle-down"></i>Télécharger</a>
            </div>
        </div>
    </div>
    <div class="animateMe" data-animation="rollIn">
        <div class="content">
            <div class="picto">
                <img src="{{ asset('images/contact.png') }}"alt="">
            </div>
            <div class="text">
                <h1>CONTACT</h1>
                <a href="mailto:mariecharton21@gmail.com"><i class="fa fa-paper-plane"></i> Envoyer un mail</a>
            </div>
        </div>
    </div>
    <div class="animateMe" data-animation="bounceIn">
        <div class="content">
            <div class="picto">
                <img src="{{ asset('images/reseau.png') }}"alt="">
            </div>
            <div class="text">
                <h1>RESEAUX</h1>
                <a href="https://www.linkedin.com/in/marie-charton/"><i class="fab fa-linkedin"></i> Linkdin</a>
                <a href="https://github.com/MarieCharton"><i class="fab fa-github-square"></i> Github</a></a>
            </div>
        </div>
    </div>
</div>